@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to HR Database</h1>
    <p>Simplest application for maintaining a database of employees of your company</a>.</p>
</div>
